@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --f-poppins: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--f-poppins);
}

body {
    background-color: hsl(206, 94%, 87%);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 50px;
}

.form {
    width: 950px;
    min-height: 600px;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.064);
    background-color: white;
    padding: 15px;
    display: grid;
    grid-template-columns: auto 2fr;
    column-gap: 15px;
}

/* FORM LEFT */

.form-left {
    padding: 35px 40px;
    border-radius: 0.8rem;
    background: url(./assets/images/bg-sidebar-desktop.svg) no-repeat;
    width: 274px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.form-left-text {
    display: flex;
    column-gap: 12px;
    align-items: center;
}

.form-left-text-number {
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.form-left-text-step-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.step-text {
    color: hsl(228, 100%, 84%);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1cap;
}

.below-step-text-text {
    line-height: 1cap;
    color: white;
    font-weight: 600;
}

.active-number {
    border: 1px solid hsl(206, 94%, 87%);
    color: hsl(213, 96%, 18%);
    background-color: hsl(206, 94%, 87%);
}

/* FORM RIGHT */

.form-right {
    display: grid;
    grid-template-rows: 1fr auto;
}

/* FORM RIGHT BOTTOM */

.form-right-bottom {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}

.form-right-bottom > button {
    font-family: var(--f-poppins);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.go-back-button {
    background-color: transparent;
    border: 0;
    color: hsl(231, 11%, 63%);
    transition: color 300ms;
}

.next-step-button {
    border: 0;
    padding: 10px 20px;
    border-radius: 0.4rem;
    box-shadow: 0 1px 1px black;
    color: white;
    background-color: hsl(213, 96%, 18%);
    transition: background-color 300ms;
}

/* BUTTON HOVER STATES */

.go-back-button:hover {
    color: hsl(213, 96%, 18%);
}

.next-step-button:hover {
    background-color: hsl(213, 100%, 25%);
}